.searchMovie {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 12px;
    padding: 0px 75px;
}

.card{
    border: 2px solid white;
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    margin: 15px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: gray;
    columns: #fff;
    margin-left: 10px;
}